.wheel-container {
  animation: floating 3s 1s ease-in-out infinite;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.spin-btn {
  margin-top: 3em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  background: #67219c;
  color: #dfdfdf;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.spin-btn:hover {
  filter: brightness(1.04);
  transform: scale(1.03);
}

@keyframes floating {
  0% { transform: translateY(0); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0); }
}
