@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

body {
    margin: 0;
    background: linear-gradient(132deg, #110126,#1C0240, #3C0673, #914AD9);
    background-size: 400% 400%;
    animation: BackgroundGradient 15s ease infinite;
}

@keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container .title_container {
    padding: 2em;
    font-family: 'Poppins', sans-serif;
    color: #d4cece;
    margin-bottom: 1%;
}

.container .title {
    margin: 0;
    font-size: 2rem;
    font-weight: 400;
}

.container .info {
    font-size: 1.2rem;
    color: rgb(206, 202, 202);
    margin: .5em 0 0 .2em;
    font-weight: 200;
}

.game-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    margin-top: 1em;
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}






@media (width < 768px) {
    .container .title_container{
        margin-bottom: 10%;
    }

    .container .title {
        font-size: 1.5rem;
    }

    .container .info {
        font-size: .8rem;
    }

    .button-container {
        width: 50%;
    }
}